{%extends 'base.html'%}

{%block body_block%}

<div class="container align-content-center " style="width: 25%;">
  <div class="card text-center ">
      <div class="card bg-dark " style="width: 25rem;">
          <div class="card-header text-white  ">
            Employee Details
          </div>
          
          <div>
            {%if data.profile_photo%}
              <img src="{{data.profile_photo.url}}" alt="" style="width: 100%;">
            {%endif%}

          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{data.name}}</li>
            <li class="list-group-item">{{data.department}}</li>
            <li class="list-group-item">{{data.salary}}</li>
            <li class="list-group-item">{{data.email}}</li>
            <li class="list-group-item">{{data.age}}</li>
            <li class="list-group-item">{{data.contact}}</li>
          
          </ul>
          <a href="{%url 'emplist'%}"class="btn btn-secondary">List</a>

          <a href="{%url 'home'%}"class="btn btn-outline-danger  ">Back</a>

        </div>

{%endblock%}